header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0px;
    background-color: black;
}

ul{
    height: 57px;
    align-items: center;
}

.logo img{
width: 300px;
}

main{
    margin: auto;
    margin-top: 5rem;
    height: 600px;
}


.card{
    width: 30%;
    justify-content: space-between;

}

.poster img{
    height: 362px;
}

.text{
    width: 40%;
}

p{
    font-size: .9rem;
    padding-top: 3rem;
}