*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Armata', sans-serif;
}

#app{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../img/bg-space.jpg);
    background-size: cover;
}

li{
    list-style: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

a{
    text-decoration: none;
    color: white
}

a:hover{
    color: firebrick;

}

a:visited{
    text-decoration: none;
}

li:hover{
    cursor: pointer;
    border-color: firebrick;

}

ul{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    width: 600px;
}

.logo{
    text-align: center;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card{
 background-color: whitesmoke;
 display: flex;
 
}