header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0px;
    background-color: black;
}

ul{
    height: 57px;
    align-items: center;
}

.logo img{
width: 300px;
}

main{
    margin: auto;
    margin-top: 5rem;
}

.container{
    gap: 10rem;
    padding-bottom: 5rem;
}

.card{
    width: 20%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: 1rem solid lightgray;

}


.poster img{
    width: 100%;
}